<h1><%= feed.escape("title") %></h1>
<% if (Object.keys(feed.attributes).indexOf("author") !== -1) { %>
  <h2>Feed added by <%= feed.escape("author") %></h2>
<% } %>
<ul class="entries">
</ul>

<button class="refresh">Refresh</button>
