<h1><%= feed.escape("title") %></h1>
<% if (Object.keys(feed.attributes).indexOf("author") !== -1) { %>
  <h2>Feed added by <%= feed.escape("author") %></h2>
<% } %>
<table class="table table-striped">
  <thead><tr><td><strong>Links</strong></td><td></td></tr></thead>
  <tbody class="entries">
  </tbody>
</table>

<button class="refresh">Refresh</button>
