<table class="table table-striped">
  <thead><tr><td><strong>Feeds</strong></td></tr></thead>
  <tbody>
    <% feeds.each(function(feed){ %>
        <tr><td><a href="#feeds/<%= feed.id %>"><%= feed.escape("title") %></a></td></tr>
    <%}) %>
  </tbody>
</table>



<a href="#/feeds/new">Create New Feed</a>
